@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@layer base {
  body {
    @apply text-slate-800 font-sans min-h-screen selection:bg-rose-500 selection:text-white from-rose-100 via-pink-200 to-rose-300;
    background-image: radial-gradient(ellipse at top right, var(--tw-gradient-stops));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}